<main class="content">
    <div class="container-fluid">

        <div class="header" *ngIf="selectedGroup">
            <h1 class="header-title">
                {{ selectedGroup.title }} Dashboard
            </h1>
            <p class="header-subtitle" *ngIf="docs"> {{ docs.length }} items </p>
        </div>

        <div class="row">
            <div class="col-12 d-flex">
                <div class="card flex-fill">
                    <table id="datatables-dashboard-projects" class="table table-striped my-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th class="d-none d-xl-table-cell">Uploaded</th>
                                <th class="d-none d-xl-table-cell">Category</th>
                                <th class="d-none d-xl-table-cell">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let doc of docs">
                                <td><a href="#" (click)="openDoc(doc, $event)">{{ doc.title }}</a></td>
                                <td class="d-none d-xl-table-cell">{{ doc.doc.created }}</td>
                                <td class="d-none d-xl-table-cell">{{ doc.category.name }}
                                <td class="d-none d-xl-table-cell">{{ doc.doc_type }}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>