<div class="example-container">
    <mat-sidenav-container style="flex: 1">
        <mat-sidenav mode="side" opened #snav fixedTopGap="56" class="sidebar">
            <div class="sidebar-content">
                <div class="sidebar-user">
                    <img src="img/avatars/avatar.jpg" class="img-fluid rounded-circle mb-2" alt="Linda Miller"/>
                    <div class="font-weight-bold">Linda Miller</div>
                    <small>Front-end Developer</small>
                </div>
                <app-category-menu></app-category-menu>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="main">
                <mat-toolbar style="background-color: transparent">
                    <button (click)="snav.toggle()" mat-icon-button class="example-icon"
                            aria-label="Example icon-button with menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <form class="form-inline d-none d-sm-inline-block">
                        <input class="form-control form-control-lite" type="text" placeholder="Search projects...">
                    </form>

                    <span class="example-spacer" fxFlex></span>

                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                        <mat-icon>share</mat-icon>
                    </button>

                    <app-user-login></app-user-login>

                </mat-toolbar>

                <router-outlet></router-outlet>

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row text-muted">
                            <div class="col-8 text-left">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="text-muted" href="#">Support</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-muted" href="#">Privacy</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-muted" href="#">Terms of Service</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="text-muted" href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-4 text-right">
                                <p class="mb-0">
                                    &copy; 2020 - <a href="dashboard-default.html" class="text-muted">Spark</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
