<ul class="sidebar-nav" *ngIf="dashboard && dashboard.children">
    <li class="sidebar-header">
        Dashboard
    </li>
    <li class="sidebar-item" *ngFor="let item1 of dashboard.children">
        <a class="sidebar-link">
            <mat-icon class="align-middle mr-2"> {{item1.icon}}</mat-icon>
            <span class="align-middle">{{ item1.name }}</span>
        </a>
        <ul *ngIf="item1.children && item1.children.length" class="sidebar-dropdown list-unstyled">
            <li class="sidebar-item" *ngFor="let item2 of item1.children">
                <a class="sidebar-link">
                    <mat-icon class="align-middle mr-2">{{ item2.icon }}</mat-icon>
                    <span class="align-middle">{{ item2.name }}</span>
                </a>
                <!-- ul *ngIf="item2.children && item2.children.length"  class="sidebar-dropdown list-unstyled">
                    <li class="sidebar-item" *ngFor="let item3 of item2.children">
                        <a class="sidebar-link">
                            <i class="align-middle mr-2 fas fa-fw fa-home"></i>
                            <span class="align-middle">{{ item3.name }}</span>
                        </a>
                    </li>
                </ul -->
            </li>
        </ul>
    </li>
</ul>
